QPushButton#Main_Menu {
    background-color: #34385a;
}

QPushButton#Char_Button {
    background-color: #9599c0;
    border-style: ridge;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}

QPushButton#Char_Button:checked {
    background-color: #0e0e0e;
    border-style: groove;
}